#Don't show files in folder

Options -Indexes

#Set 404 - 403 error file

ErrorDocument 404 http://localhost/ir-studies/error/404.php

ErrorDocument 403 http://localhost/ir-studies/error/403.php

#Hide php extension

Options +FollowSymLinks -MultiViews

RewriteEngine On

RewriteBase /

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]

RewriteRule ^ %1 [R,L,NC]

RewriteCond %{REQUEST_FILENAME}.php -f

RewriteRule ^ %{REQUEST_URI}.php [L]

#Set default index file home.php

DirectoryIndex home.php
