#No to HTTP

RewriteEngine On

RewriteCond %{HTTPS} !=on

RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#No to WWW

RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]

RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#No to .PHP

Options +FollowSymLinks -MultiViews

RewriteEngine On

RewriteBase /

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]

RewriteRule ^ %1 [R,L,NC]

RewriteCond %{REQUEST_FILENAME}.php -f

RewriteRule ^ %{REQUEST_URI}.php [L]

#No to SHOW FILES IN AN FOLDER

Options -Indexes

IndexIgnore *

#No to INDEX.PHP

DirectoryIndex home.php

#Fix Fonts Problem

<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|css)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

#Set 404 - 403 error file

ErrorDocument 403 http://localhost/ir-studies/error/403.php

ErrorDocument 404 http://localhost/ir-studies/error/404.php

#No to ERROR_LOG

php_flag log_errors Off