.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -ms-touch-action: none;
    user-select: none;
    box-sizing: border-box;
}
.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
}
.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    /*&[style^='left: 0']{
        .noUi-handle{
            background-color: #fff;
            box-shadow: inset 0 0 0 1px $primary;
            &.noUi-active{
                box-shadow: inset 0 0 0 1px $primary,0px 5px 10px -$basic-border-radius rgba(0,0,0,0.35);
            }
        }
    }*/
}
.noUi-handle {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}
.noUi-stacking .noUi-handle {
    z-index: 10;
}
//.noUi-stacking + .noUi-origin {
//    *z-index: -1;
//} WARNING: Property with star prefix found. Checks for the star property hack (targets IE6/7) (star-property-hack) Browsers: All
.noUi-state-tap .noUi-origin {
    transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
    cursor: inherit !important;
}
.noUi-horizontal {
    height: .125rem;
}
.noUi-handle {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    left: -.4rem;
    top: -.4rem;
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.3s;
    background: $primary;
    text-align: center;
    position: relative;
    z-index: 4;
    /*&::after{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        content: " ";
        background-color: inherit;
        z-index: 3;
        transform: scale3d(0,0,0);
        opacity: .75;
        border-radius: 100%;
    }
    &.noUi-active{
        &::after{
            opacity: 0;
            transform: scale3d(3,3,1);
        }
    }*/
}

.noUi-tooltip{
    position: absolute;
    z-index: 11;
    color: #fff;
    background-color: #333;
    opacity: .9;
    width: 50px;
    //padding: 9px auto;
    top: calc(-100% - 8px);
    right: calc(-50% - 11px);
    border-radius: $basic-border-radius;
    text-align: center;
    box-shadow: 0 5px 6px -3px rgba(0,0,0,.5);
    &::after{
        height: 0px;
        width: 0px;
        position: absolute;
        bottom: -3px;
        right: calc(50% - 2px);
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-top: 4px solid #333;
        content: " ";
    }
}

.noUi-vertical .noUi-handle {
    //margin-left: 5px;
    //cursor: ns-resize;
}
.noUi-horizontal.noUi-extended {
    padding: 0 2rem;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
    right: -2rem;
}
.noUi-background {
    margin: 20px 0;
    height: .125rem;
}
.noUi-origin {
    margin: 0;
    border-radius: 0;
    height: .125rem;
    background: #c8c8c8;
}
.noUi-target {
    border-radius: 1000px;
    background-color: #c8c8c8;
}
.noUi-horizontal {
    height: 0.125rem;
    margin: 2rem 0;
}
.noUi-vertical {
    height: 100%;
    width: .125rem;
    margin: 2rem 2rem;
    display: inline-block;
}
.noUi-handle.noUi-active {
    transform: scale3d(2, 2, 1);
    box-shadow: 0px 5px 10px -2.5px rgba(0,0,0,0.35)
}
[disabled].noUi-slider{
    opacity: 0.5;
}
[disabled] .noUi-handle {
    cursor: not-allowed;
    background-color: gray;
}

.slider {
    direction: ltr;
}

.slider {
    .noUi-connect{
        background-color: $primary;
        top: 0;
        bottom: 0;
        position: absolute;
    }

    .noUi-handle{
        background-color: $primary;
    }
}
